example/mysrvc/mysrvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
    name="MySrvc"
    targetNamespace="http://mysrvc/mysrvc.proto/MySrvc/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://mysrvc/mysrvc.proto/MySrvc/"
    xmlns:types="http://mysrvc/mysrvc.proto/MySrvc_types/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <documentation>
    Service: MySrvc
    Version: 
    Generated: 2020-08-06 07:51:07.286785719 +0200 CEST m=+0.003476179
    Owner: 
  </documentation>
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://mysrvc/mysrvc.proto/MySrvc_types/">
      <xs:element name="exception">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" nillable="true" type="xs:string"/>
            <xs:element name="message" nillable="true" type="xs:string"/>
            <xs:element name="traceback" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
	  
      
        <xs:element name="Mysrvc_Contracts_Input">
  <xs:complexType>
    <xs:sequence>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PBazon" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PSzerzAzon" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PModkod" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PKotvenyszam" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PAjanlatsorszam" type="xs:double"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PUgyfelnev" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PTelepules" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PTagAzon" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PUkTorzsszam" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PRendszam" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PKockhelyIrszam" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PKockhelyKtid" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PElozmenyBizt" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PFlottaAzon" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PFlottaVonalkod" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PLimit" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="POffset" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="POrder" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PCount" type="xs:string"/>
	
    </xs:sequence>
  </xs:complexType>
</xs:element>

      
        <xs:element name="Mysrvc_Contracts_Output">
  <xs:complexType>
    <xs:sequence>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PMaradt" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PHibaKod" type="xs:int"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="PHibaSzov" type="xs:string"/>
	<xs:element minOccurs="0" nillable="true" maxOccurs="999" name="Ret" type="types:Mysrvc_ContractsRecTyp_Bruno"/>
	
    </xs:sequence>
  </xs:complexType>
</xs:element>
<xs:complexType name="Mysrvc_ContractsRecTyp_Bruno">
  <xs:sequence>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="RowNum" type="xs:int"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractNumber" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="MemberCode" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="Modkod" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="Modrnev" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="BidId" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractOldId" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractStatus" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractStatusName" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractStatusShort" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractRecordingDate" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractBtkezd" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractBeginDate" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractDeletionValidFrom" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractBalanceDate" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractFutureBalanceDate" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractYearlyPrice" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractAnniversary" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ContractBalance" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ElviDijhatralek" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ClientName" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ClientCode" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="OwnerCode" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="CarPlate" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="CarCategory" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="CarMake" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="CarModel" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="DealerCode" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="DealerName" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="KockhelyIrszam" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="KockhelyTelepules" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="KockhelyCim" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ClientPpid" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ClientCity" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ElozmenybiztKod" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="ElozmenybiztNev" type="xs:string"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="FlottaAzon" type="xs:double"/>
  <xs:element minOccurs="0" nillable="true" maxOccurs="1" name="FlottaVonalkod" type="xs:double"/>
  
  </xs:sequence>
</xs:complexType>

      
        <xs:element name="Mysrvc_LastMod_Input">
  <xs:complexType>
    <xs:sequence>
	
    </xs:sequence>
  </xs:complexType>
</xs:element>

      
        <xs:element name="Mysrvc_LastMod_Output">
  <xs:complexType>
    <xs:sequence>
	<xs:element minOccurs="0" nillable="true" maxOccurs="1" name="Ret" type="xs:string"/>
	
    </xs:sequence>
  </xs:complexType>
</xs:element>

      
    </xs:schema>
  </types>
  <message name="error">
    <part element="types:exception" name="error"/>
  </message>
  
  
  
  <message name="Mysrvc_LastMod_Input">
    <part element="types:Mysrvc_LastMod_Input" name="input" />
  </message>
  <message name="Mysrvc_LastMod_Output">
    <part element="types:Mysrvc_LastMod_Output" name="output" />
  </message>
  
  
  
  <message name="Mysrvc_Contracts_Input">
    <part element="types:Mysrvc_Contracts_Input" name="input" />
  </message>
  <message name="Mysrvc_Contracts_Output">
    <part element="types:Mysrvc_Contracts_Output" name="output" />
  </message>
  
  <portType name="MySrvc">
    
    <operation name="MySrvc_LastMod">
      <input message="tns:Mysrvc_LastMod_Input"/>
      <output message="tns:Mysrvc_LastMod_Output"/>
      <fault message="tns:error" name="error"/>
    </operation>
    <operation name="MySrvc_Contracts">
      <input message="tns:Mysrvc_Contracts_Input"/>
      <output message="tns:Mysrvc_Contracts_Output"/>
      <fault message="tns:error" name="error"/>
    </operation>
  </portType>
  <binding name="MySrvc_soap" type="tns:MySrvc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
	
    
    <operation name="MySrvc_LastMod">
	  
      <soap:operation soapAction="http://mysrvc/mysrvc.proto/MySrvc/MySrvc_LastMod" style="document" />
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
      <fault name="error"><soap:fault name="error" use="literal"/></fault>
    </operation>
    <operation name="MySrvc_Contracts">
	  
      <soap:operation soapAction="http://mysrvc/mysrvc.proto/MySrvc/MySrvc_Contracts" style="document" />
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
      <fault name="error"><soap:fault name="error" use="literal"/></fault>
    </operation>
  </binding>
  <service name="MySrvc__service">
    <port binding="tns:MySrvc_soap" name="MySrvc">
      
    </port>
  </service>
</definitions>
